

@{Html.RenderPartial("_Carousel");}

<!--Menu Options Body-->
<div class="container">
    <div class="align-items-center row mt-3">
        <div class="col-sm-12 col-md-6 text-center col-lg-4 mt-3">
            <img class="img-thumbnail" src="https://order.kfc.co.za/Content/OnlineOrderingImages/Menu/Category/sm/CAT103.jpg?v=1.45" alt="" />
            <button class="btn btn-danger btn-block font-weight-bolder" onclick="window.location='@Url.Action("GetPromotionsPage","Order")'">Promotions</button>
        </div>
        <div class="col-sm-12 col-md-6 text-center col-lg-4 mt-3">
            <img class="img-thumbnail" src="https://order.kfc.co.za/Content/OnlineOrderingImages/Menu/Category/CAT80.jpg?v=1.45" alt="" />
            <button class="btn btn-danger btn-block font-weight-bolder">Buckets</button>
        </div>
        <div class="col-sm-12 col-md-6 text-center col-lg-4 mt-3">
            <img class="img-thumbnail" src="https://order.kfc.co.za/Content/OnlineOrderingImages/Menu/Category/CAT78.jpg?v=1.45" alt="" />
            <button class="btn btn-danger btn-block font-weight-bolder">Family Treat</button>
        </div>
        <div class="col-sm-12 col-md-6 text-center col-lg-4 mt-3">
            <img class="img-thumbnail" src="https://order.kfc.co.za/Content/OnlineOrderingImages/Menu/Category/sm/CAT14.jpg?v=1.45" alt="" />
            <button class="btn btn-danger btn-block font-weight-bolder">Box Meals</button>
        </div>
        <div class="col-sm-12 col-md-6 text-center col-lg-4 mt-3">
            <img class="img-thumbnail" src="https://order.kfc.co.za/Content/OnlineOrderingImages/Menu/Category/sm/CAT102.jpg?v=1.45" alt="" />
            <button class="btn btn-danger btn-block font-weight-bolder ">Wings</button>
        </div>
        <div class="col-sm-12 col-md-6 text-center col-lg-4 mt-3">
            <img class="img-thumbnail" src="https://order.kfc.co.za/Content/OnlineOrderingImages/Menu/Category/sm/CAT9.jpg?v=1.45" alt="" />
            <button class="btn btn-danger btn-block font-weight-bolder">Snacks & Sides</button>
        </div>
        <div class="col-sm-12 col-md-6 text-center col-lg-4 mt-3">
            <img class="img-thumbnail" src="https://order.kfc.co.za/Content/OnlineOrderingImages/Menu/Category/sm/CAT70.jpg?v=1.45" alt="" />
            <button class="btn btn-danger btn-block font-weight-bolder">Drinks</button>
        </div>
        <div class="col-sm-12 col-md-6 text-center col-lg-4 mt-3">
            <img class="img-thumbnail" src="https://order.kfc.co.za/Content/OnlineOrderingImages/Menu/Category/CAT73.jpg?v=1.45" alt="" />
            <button class="btn btn-danger btn-block font-weight-bolder">Treats</button>
        </div>
    </div>
</div>
 