<footer class="mt-5">
    <div class="row justify-content-center">
        <img style="width:100px" src="https://order.kfc.co.za/Content/OnlineOrderingImages/Shared/logo.png" alt="kfc-logo" />
    </div>
    <div class="row mt-5">
        <div class="col-lg-3">
            <h4 class="font-weight-bold">Our Story</h4>
            <p>Our Food</p>
        </div>
        <div class="col-lg-3">
            <h4 class="font-weight-bold">Our Story</h4>
            <p>Our Food</p>
        </div>
        <div class="col-lg-3">
            <h4 class="font-weight-bold">Our Story</h4>
            <p>Our Food</p>
        </div>
        <div class="col-lg-3">
            <h4 class="font-weight-bold">Our Story</h4>
            <p>Our Food</p>
        </div>
    </div>
</footer>
